<div class="container">
    <div class="col-md-3 rounded-lg shadow-lg mx-auto mt-5">
        <form [formGroup]="trainingForm" (ngSubmit)="onSubmit(trainingForm)">
            <div>
                <label for="name">Nom :</label>
                <input type="text" required formControlName="name" class="form-control" name="name">
                <div *ngIf="name && name.invalid && (name.dirty || name.touched)" class="alert text-danger" role="alert">
                    <div *ngIf="name.errors?.['required']">Le nom est requis</div>
                </div>
            </div>
            <div>
                <label for="description">Description :</label>
                <input type="text" required formControlName="description" class="form-control" name="description">
                <div *ngIf="description && description.invalid && (description.dirty || description.touched)" class="alert text-danger" role="alert">
                    <div *ngIf="description.errors?.['required']">La description est requise</div>
                </div>
            </div>
            <div>
                <label for="price">Prix :</label>
                <input type="text" required formControlName="price" class="form-control" name="price">
                <div *ngIf="price && price.invalid && (price.dirty || price.touched)" class="alert text-danger" role="alert">
                    <div *ngIf="price.errors?.['required']">Le prix est requis</div>
                </div>
            </div>
            <div>
                <label for="place">Nb de places :</label>
                <input type="text" required formControlName="place" class="form-control" name="place">
                <div *ngIf="description && description.invalid && (description.dirty || description.touched)" class="alert text-danger" role="alert">
                    <div *ngIf="description.errors?.['required']">La description est requise</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Ville :</label>
                <select class="form-control" formControlName="city" name="city">
                    <option *ngFor="let city of listCity" [value]="city.id" >{{ city.name }}</option>
                </select>
            </div>
            <div>
                <label for="address">address :</label>
                <input type="text" required formControlName="address" class="form-control" name="address">
                <div *ngIf="description && description.invalid && (description.dirty || description.touched)" class="alert text-danger" role="alert">
                    <div *ngIf="description.errors?.['required']">La description est requise</div>
                </div>
            </div>
            <div>
                <div *ngIf="isUpdateForm">
                    <label for="fileInput">Image actuel :</label>
                    <div class="img d-flex justify-content-center">
                        <img [src]="URLStr + '/' + imageNam" class="img-fluid w-50">
                    </div>
                </div>
                <label for="fileInput">Choisissez une nouvelle image : (optional) </label>
                <input type="file" formControlName="imageNam" class="custom-file" id="fileInput" accept="image/*" name="file" (change)="onPictureSelect($event)">
            </div>
            <div *ngIf="isUpdateForm else createTraining">
                <button type="submit" class="btn btn-primary m-2">Modifier</button>
            </div>
            
            <ng-template #createTraining>
                <button type="submit" class="btn btn-primary m-2">Ajouter</button>
            </ng-template>
        </form>
    </div>
</div>